In [0]:
# Write your code in jupyter notebook and upload it to github and share the link for submission

**Question 1.** 

You have to create a function that receives a list of numbers like [23,14,13,56,78,98,12] and returns it's Interquartile range(IQR)

Note: You have to code the logic from scratch

In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [97]:
data=np.array([7,9,9,10,10,10,10,11,12,12,14,14])
data.sort()
size=data.size
size
if(size%2==1):
    mid=int((size-1)/2)
    if mid%2==1:
        
        Q1=data[int((mid-1)/2)]
        Q2=data[int((size-(mid-1)/2)-1)]
        
    else:
        
        Q1=(data[int((mid-1)/2)]+data[int(((mid-1)/2)-1)])/2
        Q2=(data[int((size-(mid-1)/2)-1)]+data[int((size-(mid-1)/2)-2)])/2
else:

    if (size/2)%2==1:
    
        mid=int((size-1)/2)
        Q1=data[int((mid-1)/2)]
        Q2=data[int((size-(mid-1)/2)-1)]
    
    else:
    
        Q1=(data[int((mid-1)/2)]+data[int(((mid-1)/2)-1)])/2
        Q2=(data[int((size-(mid-1)/2)-1)]+data[int((size-(mid-1)/2)-2)])/2
    

IQR=Q2-Q1
IQR

3.0

**Question 2:**

 Plot a histogram for total team scores for all IPL games.

Note: Per match 2 teams will play hence total number scores would be = no. of matches * 2

In [107]:
matches = pd.read_csv('matches.csv')
deliveries = pd.read_csv('deliveries.csv')
deliveries

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [116]:
team_score = deliveries.groupby(['match_id', 'batting_team'])['total_runs'].sum()
team_score

match_id  batting_team
1         Royal Challengers Bangalore    172
          Sunrisers Hyderabad            207
2         Mumbai Indians                 184
          Rising Pune Supergiant         187
3         Gujarat Lions                  183
                                        ...
634       Sunrisers Hyderabad            162
635       Gujarat Lions                  162
          Sunrisers Hyderabad            163
636       Royal Challengers Bangalore    200
          Sunrisers Hyderabad            208
Name: total_runs, Length: 1270, dtype: int64

**Question 3.**

 Find the skewness of bowler economy data where the bowler has bowled a minimum of 300 balls.

Note : if you don't know about economy read this https://en.wikipedia.org/wiki/Economy_rate_(cricket)

**Question 4:**

Give three examples of negatively skewed data and 3 examples of positively skewed data